iteration2/common-types.xsd

<?xml version="1.1" encoding="UTF-8"?>
<!-- 
Created 20-Dec-2020 
Common types for IEM Response & Request Schemas 
Version:  2.0
Last modified: 19-Oct-2021
Author: DE4A WP3 & WP5 
Version control
- 2.00
	- Support to multi request in one message exchange 
	- Support to Subscription & Notification pattern
	- Support to Lookup pattern
	- Support to the two responses for the USIP evidence request
- 1.05 
	- Changed from xs:any to xs:anyURI in CanonicalEvidenceTypeUriType 
	- Added CanonicalEventTypeIdType 
- 1.04 
	- Typo AddtionalParam corrected 
- 1.03 
	- Removal of CanonicalEvidenceDataType 
	formerly used by the IEM Response until its version 1.02 
- 1.02 
	- Full alignment with eIDAS SAML Attribute Profile Ver 1.2: element names 
	* LegalEntityIdentifierDatasetType: LegalPersonIdentifier and LegalName 
	* NaturalPersonIdentifierDatasetType: PersonIdentifier and FirstName 
- 1.01 
	- Change to xml 1.1 to support xs:any and xs:anyType 
	- AgentUrn replaces AgentUri 
	- AddtionalParametersType [0..1] replaces EvidenceServiceRequestType [1..1] 
	- AdditionalParameterValue [0..1] is no longer optional 
	- EvidenceServiceUri removed 
	
eIDAS XSD from eIDAS SAML Attribute Profile Version 1.2: 
	https://ec.europa.eu/cefdigital/wiki/download/attachments/82773108/eIDAS%20SAML%20Attribute%20Profile%20v1.2%20Final.pdf?version=2&modificationDate=1571068651772&api=v2 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.de4a.eu/iem/commonTypes/2.00"
	xmlns:cv="https://semic.org/sa/cv/common/dataTypes-2.0.0#"
	xmlns:ct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
	xmlns:ein="http://eidas.europa.eu/attributes/naturalperson"
	xmlns:eil="http://eidas.europa.eu/attributes/legalperson"
	targetNamespace="http://www.de4a.eu/iem/commonTypes/2.00"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import
		schemaLocation="vocabularies/CCTS_CCT_SchemaModule-2.1.xsd"
		namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"></xs:import>
	<xs:import schemaLocation="vocabularies/CV-DataTypes.xsd"
		namespace="https://semic.org/sa/cv/common/dataTypes-2.0.0#"></xs:import>
	<xs:import schemaLocation="vocabularies/eidas-NP.xsd"
		namespace="http://eidas.europa.eu/attributes/naturalperson"></xs:import>
	<xs:import schemaLocation="vocabularies/eidas-LP.xsd"
		namespace="http://eidas.europa.eu/attributes/legalperson"></xs:import>

	<xs:simpleType name="RequestIdType">
		<xs:annotation>
			<xs:documentation>Unique identifier of the request in the whole
				system, for instance, a UUID
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SpecificationIdType">
		<xs:annotation>
			<xs:documentation>Version ID of the IEM Specification, e.g.
			urn:de4a.eu:identifiers:Specification::iemRequest:1.0
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>Moment of the message creation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"></xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AgentIdentifierType">
		<xs:annotation>
			<xs:documentation>
				-AgentUrn: ISO 6523 uri for a system agent
				(DE/DT/DR/DO) (e.g.
				iso6523-actorid-upis::9991:PT990000101)
				-AgentName: localized name of the Agent
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="AgentUrn" type="xs:anyURI" maxOccurs="1"
				minOccurs="1"></xs:element>
			<xs:element name="AgentName" type="cv:NameType"
				maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CanonicalEvidenceTypeUriType">
		<xs:annotation>
			<xs:documentation>
				DE4A uri for canonical evidence types (e.g.
				urn:de4a.eu:identifiers:CanonicalEvidenceType::HighEdEdCertificate:1.0)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"></xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataSubjectType">
		<xs:annotation>
			<xs:documentation>
				Subject of the requested Data, either a Natural
				Person or a Legal Person, which is identified by the eIDAS mandatory
				dataset.
				Optionally, along with their representative Natural Person:
				-representatives cannot be legal entities
				-in the case of a natural person data subjects, the representative
					is the user identified in the portal of the procedure
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element name="DataSubjectPerson"
					type="NaturalPersonIdentifierDatasetType" maxOccurs="1"
					minOccurs="1" />
				<xs:element name="DataSubjectCompany"
					type="LegalEntityIdentifierDatasetType" maxOccurs="1" minOccurs="1" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType
		name="NaturalPersonIdentifierDatasetType">
		<xs:annotation>
			<xs:documentation
				source="http://mapping.semic.eu/vdm/description.vsp?namespace=cv&amp;type=eb004434a93bbeaa2ba5968d26af06be&amp;id=&amp;format=">
				Natural Person eIDAS mandatory dataset and optional dataset
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="PersonIdentifier"
				type="ein:PersonIdentifierType" maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="FirstName"
				type="ein:CurrentGivenNameType" maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="FamilyName"
				type="ein:CurrentFamilyNameType" maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="DateOfBirth" type="ein:DateOfBirthType"
				maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="Gender" type="ein:GenderType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="BirthName" type="ein:BirthNameType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="PlaceOfBirth"
				type="ein:PlaceOfBirthType" maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CurrentAddress"
				type="ein:CurrentAddressType" maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LegalEntityIdentifierDatasetType">
		<xs:annotation>
			<xs:documentation>
				Legal Entity eIDAS mandatory dataset and optional dataset
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="LegalPersonIdentifier"
				type="eil:LegalPersonIdentifierType" maxOccurs="1" minOccurs="1" />
			<xs:element name="LegalName" type="eil:LegalNameType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="LegalAddress"
				type="eil:LegalPersonAddressType" maxOccurs="1" minOccurs="0" />
			<xs:element name="VATRegistration"
				type="eil:VATRegistrationNumberType" maxOccurs="1" minOccurs="0" />
			<xs:element name="TaxReference"
				type="eil:TaxReferenceType" maxOccurs="1" minOccurs="0" />
			<xs:element name="D-2012-17-EUIdentifier"
				type="eil:D-2012-17-EUIdentifierType" maxOccurs="1" minOccurs="0" />
			<xs:element name="LEI" type="eil:LEIType" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="EORI" type="eil:EORIType" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="SEED" type="eil:SEEDType" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="SIC" type="eil:SICType" maxOccurs="1"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcedureType">
		<xs:annotation>
			<xs:documentation>
				Metadata about a procedure or public service
				- ProcedureCategory: one or more categories that the procedure
					corresponds to. The authorization control would be based on
					this element, for any ex-ante or ex-post controls.
				- DomesticProcedureName: the name of the procedure in the original
					language according to the locale attribute of this 
					element. It would be used for logging purposes, potentially  
					for sampling audits or incident analysis. 
				- DomesticProcedureURI (optional): unique identifier of the  
					procedure according to the national identifying mechanism. 
					It would be used for logging purposes, potentially for 
					sampling audits or incident analysis. 					
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="ProcedureCategory"
				type="ProcedureCategoryType" maxOccurs="unbounded" minOccurs="1"></xs:element>
			<xs:element name="DomesticProcedureName" type="ct:TextType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="DomesticProcedureURI" type="xs:anyURI"
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TermValueType">
		<xs:annotation>
			<xs:documentation>
				Value for a specifi term defined in IDK MOR
				(Multilingual Ontology Repository)
				- TermMorUri: unique identifier
					for the evidence service parameter according to its MOR uri 
					(e.g. urn:de4a.eu:identifiers:morterm::9920:ESS2833002E:HighEdEdCertificate-1.0:1.0:NaturalPerson:2ndFamilyName")
				- TermValue (optional): value(s) according to a simple type (e.g. "Carbonell")
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="TermMorUri" type="xs:anyURI"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="TermValue" type="xs:anySimpleType"
				maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdditionalParameterType">
		<xs:annotation>
			<xs:documentation>
				-TermMorUri: unique URI of the parameter according 
					to MOR or other agreed URI scheme
				-TermValue: value of the parameter
					required by the service and their values besides the
					DataRequestSubject eIDAS minimun dataset
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
        	<xs:extension base="TermValueType"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CanonicalEvidenceDataType">
		<xs:annotation>
			<xs:documentation>
				The canonical evidence requested:
				-CanonicalEvidenceTypeUri: identifier of the canonical 
					evidence type
				-CanonicalEvidence: contents of the canonical evidence 
					according to its specific XML Schema
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CanonicalEvidenceTypeUri"
				type="CanonicalEvidenceTypeUriType" minOccurs="1" maxOccurs="1" />
			<xs:element name="CanonicalEvidence" type="xs:anyType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DomesticEvidenceDataType">
		<xs:annotation>
			<xs:documentation>
				The domestic evidence document is attached to the
				IEM message and this is the metadata of such attachment:
				-DomesticEvidenceIdRef: unique reference to the domestic evidence
					attached to the message
				-IssuingType: whether the evidence is the original one issued 
					by the Data Owner or if it is its multilingual
					form according to some European harmonization
				-MimeType: the mime-type of the attached domestic evidence 
					(unstructured or structured document)
				-DataLanguage: ISO 639-1 of the language of the
					evidence contents
				-AdditionalInfo: optional free localized
					explanatory text
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element name="DomesticEvidenceRef" type="xs:IDREF"
				maxOccurs="1" minOccurs="1" />
				<xs:element name="DomesticEvidenceBase64" type="xs:base64Binary"
				maxOccurs="1" minOccurs="1" />
			</xs:choice>
			<xs:element name="IssuingType" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="OriginalIssuing" />
						<xs:enumeration value="MultinlingualFormIssuing" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MimeType" type="xs:string" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="DataLanguage" type="xs:language"
				maxOccurs="unbounded" minOccurs="1"></xs:element>
			<xs:element name="AdditionalInfo" type="ct:TextType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="EvidenceResponseItemType">
		<xs:annotation>
			<xs:documentation>
				Response for EvidenceExhangeRequestItem and
				EvidenceLookupRequestItem:
				-RequestItemId: id of the request item corresponding 
					to the EventSubscription or Subscription change request
					that motivates this response
				-DataRequestSubjectType: data subject of the evidence
				-CanonicalEvidenceTypeUriType: identifier of the
					canonical evidence type matching the evidence request
				-DomesticEvidenceDataType: optionally, corresponding domestic
					evidence with legal value
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="DataRequestSubject"
				type="DataSubjectType" maxOccurs="1" minOccurs="1" />
			<xs:element name="CanonicalEvidence"
				type="CanonicalEvidenceDataType" maxOccurs="1" minOccurs="1" />
			<xs:element name="DomesticEvidence"
				type="DomesticEvidenceDataType" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EventNotificationRefType"></xs:complexType>

	<xs:complexType name="EvidenceRequestItemType">
		<xs:annotation>
			<xs:documentation>
				Base type for requesting an evidence to a data owner under 
				the grounds 
				of a user explicit request (according to a intermediation 
				pattern), a specific regulation and/or 
				as consequence of an event notification by the data owner
				(according to the lookup pattern).
				-RequestItemId: unique identifier of the item
				   within the message. The corresponding response item should 
				   include the same id.
				-CanonicalEvidenceTypeUri: URI identifying the
				   requested canonical evidence type.
				   Used as "documentType" in SMPs.
				-RequestGrounds: event notification
				  that allows looking up the canonical evidence, or 
				  permanent ELI link to national legislation that
				  provided the legal basis for requesting such an evidence, 
				  or the identification of the user that makes
				  the explicit request to retrieve the evidence in this way
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="DataRequestSubject"
				type="DataSubjectType" maxOccurs="1" minOccurs="1" />
			<xs:element name="CanonicalEvidenceTypeUri" maxOccurs="1"
				minOccurs="1" type="CanonicalEvidenceTypeUriType" />
			<xs:element name="RequestGrounds" maxOccurs="1" minOccurs="1">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded" minOccurs="1">
						<xs:element name="EventNotification" maxOccurs="1" 
							minOccurs="0" type="EventNotificationRefType"/>
						<xs:element name="LawELIPermanentLink"
							type="LawELIPermanentLinkGroundType" 
							maxOccurs="unbounded" minOccurs="0" />
						<xs:element name="ExplicitRequestUser" 
							maxOccurs="unbounded" minOccurs="0" 
							type="NaturalPersonIdentifierDatasetType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="EvidenceExchangeRequestItemType">
		<xs:annotation>
			<xs:documentation>
				This complexType extends EvidenceRequestItemType by 
				adding the optional element "AdditionalParameter"
				It can be used to implement both the Intermediation Pattern 
				and the Lookup pattern.
				This request item have as response EvidenceResponseItem
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EvidenceRequestItemType">
				<xs:sequence>
					<xs:element name="AdditionalParameter" maxOccurs="unbounded" 
				minOccurs="0" type="AdditionalParameterType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EvidenceExchangeRequestUsiItemType">
		<xs:annotation>
			<xs:documentation>
				This complexType extends EvidenceRequestItemType to 
				implement the User-Supported Intermediation Pattern by 
				adding the mandatory element "DataEvaluatorURL" as "xs:anyURI"
				This request item have two responses: 
					1st) UserRedirectionURLResponseItem
					2nd) EvidenceResponseItem
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EvidenceRequestItemType">
				<xs:sequence>
					<xs:element name="DataEvaluatorURL" type="xs:anyURI" 
					minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<xs:complexType name="EventSubscripRequestItemType">
		<xs:annotation>
			<xs:documentation>
				For both requesting and changing a subscription. 
				Each subscription relates to a specific event 
				catalogue managed by a specfic data owner and regarding a 
				specific data subject.
				This request item has a response of type
					SubscriptionResponseItemType
				-RequestItemId uniquely identifies the item
					within the message. The corresponding response item should 
					include the same id.
				-CanonicalEventCatalogUri: URI of the
					requested canonical event catalogue type, e.g.
					urn:de4a.eu:identifiers:CanonicalCatalogType::BusinessEvents
					Used as "documentType" in SMPs.
				-SubscriptionPeriod: optionally, the actual start and/or end
					 date of the subscription. For changing an existing
					 subscription, this element and at least one of its 
					 sub-elements are necessary.					 			
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="DataRequestSubject"
				type="DataSubjectType" maxOccurs="1" minOccurs="1" />
			<xs:element name="CanonicalEventCatalogUri" maxOccurs="1"
				minOccurs="1" type="xs:anyURI" />
			<xs:element name="SubscriptionPeriod" maxOccurs="1"
				minOccurs="0" type="SubscriptionPeriodType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SubscriptionResponseItemType">
		<xs:annotation>
			<xs:documentation>
				Response for EventSubscriptionRequest 
				-RequestItemId: id of the request item corresponding to 
					the Event Subscription or Subscription change request item
					that motivates this response
				-CanonicalEventCatalogUri: corresponding catalogue of the
					subscription, as a security redundancy to RequestItemId 
				- DataRequestSubject: corresponding data subject of the
					subscription, as a security redundancy to RequestItemId 
				-SubscriptionPeriod: optionally, the
					actual start and/or end date of notifications if the data
					owner considers a different period. At least the start date
					of the subscription should be set
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="CanonicalEventCatalogUri" maxOccurs="1"
				minOccurs="1" type="xs:anyURI" />
			<xs:element name="DataRequestSubject " type="DataSubjectType" maxOccurs="1" minOccurs="1"></xs:element>
			<xs:element name="SubscriptionPeriod" maxOccurs="1"
				minOccurs="1" type="SubscriptionPeriodType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserRedirectionResponseItemType">
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="RedirectURL"
				type="xs:anyURI" maxOccurs="1" minOccurs="1" />
			<xs:element name="CanonicalEvidenceTypeUri" maxOccurs="1"
				minOccurs="1" type="CanonicalEvidenceTypeUriType" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="LawELIPermanentLinkGroundType">
		<xs:annotation>
			<xs:documentation>European Legislation Identifier (ELI) 
			permanent link, e.g. 
    		https://www.boe.es/eli/es/rd/2010/01/08/4/con</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI" />
	</xs:simpleType>

	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>
				Code: Error code
				Message: text message corresponding
				to the error code
				AdditionalInfo: optional extra information provided
				about the error
				--All the texts are in English and they are can be
				automatically translated if they need to be shown to the user
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestItemId" type="MsgItemIdType"
				maxOccurs="1" minOccurs="1" />		
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element name="CanonicalEvidenceTypeUri" maxOccurs="1"
				minOccurs="1" type="CanonicalEvidenceTypeUriType" />
				<xs:element name="CanonicalEventCatalogUri" maxOccurs="1"
				minOccurs="1" type="xs:anyURI" />
			</xs:choice>
			<xs:element name="Code" type="ct:IdentifierType" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="Message" type="ct:TextType" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="Description" type="ct:TextType" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="AdditionalInfo" type="xs:anyType"
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:simpleType name="MsgItemIdType">
		<xs:annotation>
			<xs:documentation>Number of the message item as  
      			an unique identifier of the item within the message 
      		</xs:documentation>
      	</xs:annotation>
		<xs:restriction base="xs:int"></xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SubscriptionPeriodType">
		<xs:sequence>
			<xs:element name="StartDate" type="UTCDateTime" maxOccurs="1"
				minOccurs="1">
			</xs:element>
			<xs:element name="EndDate" type="UTCDateTime" maxOccurs="1"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ProcedureCategoryType">
		<xs:annotation>
			<xs:documentation>
			Categories according to Annex I (88 sections from A to Q areas),
			Annex II (21 from R to X life events), the 4 directives mentioned
			in SDGR Article 14 and two generic categories, one aimed to citizens 
			and the other one to businesses, to classify procedures that do not
			fit in any other category.   
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="R1">
				<xs:annotation>
					<xs:documentation>R: Birth</xs:documentation>
					<xs:documentation>R1: Requesting proof of registration of birth
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S1">
				<xs:annotation>
					<xs:documentation>S: Residence</xs:documentation>
					<xs:documentation>S1: Requesting proof of residenceRequesting proof
						of residence</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T1">
				<xs:annotation>
					<xs:documentation>T: Studying</xs:documentation>
					<xs:documentation>T1: Applying for a tertiary education study
						financing, such as study grants and loans from a public body or
						institution</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T2">
				<xs:annotation>
					<xs:documentation>T: Studying</xs:documentation>
					<xs:documentation>T2: Submitting an initial application for
						admission to public tertiary education institution
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T3">
				<xs:annotation>
					<xs:documentation>T: Studying</xs:documentation>
					<xs:documentation>T3: Requesting academic recognition of diplomas,
						certificates or other proof of studies or courses
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U1">
				<xs:annotation>
					<xs:documentation>U: Working</xs:documentation>
					<xs:documentation>U1: Request for determination of applicable
						legislation in accordance with Title II of Regulation (EC) No
						883/2004 </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U2">
				<xs:annotation>
					<xs:documentation>U: Working</xs:documentation>
					<xs:documentation>U2: Notifying changes in the personal or professional circumstances of the person receiving social security benefits, relevant for such benefits </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U3">
				<xs:annotation>
					<xs:documentation>U: Working</xs:documentation>
					<xs:documentation>U3: Application for a European Health Insurance Card (EHIC)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U4">
				<xs:annotation>
					<xs:documentation>U: Working</xs:documentation>
					<xs:documentation>U4: Submitting an income tax declaration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V1" >
				<xs:annotation>
					<xs:documentation>V: Moving</xs:documentation>
					<xs:documentation>V1: Registering a change of address</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V2" >
				<xs:annotation>
					<xs:documentation>V: Moving</xs:documentation>
					<xs:documentation>V2: Registering a motor vehicle originating from or already registered in a Member State, in standard procedures </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V3" >
				<xs:annotation>
					<xs:documentation>V: Moving</xs:documentation>
					<xs:documentation>V3: Obtaining stickers for the use of the national road infrastructure: time-based charges (vignette), distance-based charges (toll), issued by a public body or institution</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V4" >
				<xs:annotation>
					<xs:documentation>V: Moving</xs:documentation>
					<xs:documentation>V4: Obtaining emission stickers issued by a public body or institution</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W1" >
				<xs:annotation>
					<xs:documentation>W: Retiring</xs:documentation>
					<xs:documentation>W1: Claiming pension and pre-retirement benefits from compulsory schemes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W2" >
				<xs:annotation>
					<xs:documentation>W: Retiring</xs:documentation>
					<xs:documentation>W2: Requesting information on the data related to pension from compulsory schemes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X1">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X1: Notification of business activity, permission for exercising a business activity, changes of business activity and the termination of a business activity not involving insolvency or liquidation procedures, excluding the initial registration of a business activity with the business register and excluding procedures concerning the constitution of or any subsequent filing by companies or firms within the meaning of the second paragraph of Article 54 TFEU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X2">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X2: Registration of an employer (a natural person) with compulsory pension and insurance schemes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X3">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X3: Registration of employees with compulsory pension and insurance schemes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X4">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X4: Submitting a corporate tax declaration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X5">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X5: Notification to the social security schemes of the end of contract with an employee, excluding procedures for the collective termination of employee contracts</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X6">
				<xs:annotation>
					<xs:documentation>X: Starting, running and closing a business</xs:documentation>
					<xs:documentation>X6: Payment of social contributions for employees</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2005/36/EC">
				<xs:annotation>
					<xs:documentation>Procedures under Directive 2005/36/EC of the European Parliament and of the Council of 7 September 2005 on the recognition of professional qualifications </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2006/123/EC">
				<xs:annotation>
					<xs:documentation>Procedures under Directive 2006/123/EC of the European Parliament and of the Council of 12 December 2006 on services in the internal market </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2014/24/EU">
				<xs:annotation>
					<xs:documentation>Procedures under Directive 2014/24/EU of the European Parliament and of the Council of 26 February 2014 on public procurement and repealing Directive 2004/18/EC </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2014/25/EU">
				<xs:annotation>
					<xs:documentation>Procedures under Directive 2014/25/EU of the European Parliament and of the Council of 26 February 2014 on procurement by entities operating in the water, energy, transport and postal services sectors and repealing Directive 2004/17/EC </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BUSnoSDG">
				<xs:annotation>
					<xs:documentation>Procedures for business not included in SDGR Article 14(1)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CITnoSDG">
				<xs:annotation>
					<xs:documentation>Procedures for citizens not included in SDGR Article 14(1)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="UTCDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\dZ">
				<xs:annotation><xs:documentation>yyyy-mm-ddThh:mm:ssZ</xs:documentation></xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
